table {
  width: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  text-transform: uppercase;
}

tr {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px 80px 10px;
}

th {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.detail {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 20px;
}

@media (max-width: 662px) {
  table {
    font-size: 8px;
  }

  tr {
    padding: 0px 10px 30px 10px;
  }

  th {
    gap: 8px;
  }

  .detail {
    margin-right: 5px;
  }
}
